@model IEnumerable<DapperContribDemo.Core.User>

@{
	ViewData["Title"] = "Users";
}

<h1>Index</h1>

<p>Hello from our template!</p>

@foreach (var user in Model)
{
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FirstName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => user.FirstName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.LastName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => user.LastName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => user.Email)
		</dd>
	</dl>
}